@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal__title {
    @apply text-2xl font-bold text-white;
  }

  .modal__icon {
    @apply h-12 w-12;
  }

  .modal__form {
    @apply flex flex-col gap-4;
  }

  .modal__group {
    @apply relative flex flex-col gap-1;
  }

  .modal__label {
    @apply text-aqua-haze font-medium;
  }

  .modal__btn {
    @apply border-davy-gray w-full rounded-md border px-4 py-2 font-medium text-white hover:bg-opacity-50;
  }

  .modal__btn--success {
    @apply bg-primary;
  }

  .modal__btn--cancel {
    @apply bg-red-400;
  }

  .modal__input {
    @apply border-davy-gray bg-heavy-metal focus:bg-heavy-metal w-full rounded-md border px-4 py-2 text-gray-300;
  }

  .modal__toggle {
    @apply mr-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary checked:focus:bg-primary checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] dark:bg-neutral-600 dark:after:bg-neutral-400 dark:checked:bg-primary dark:checked:after:bg-primary dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca];
  }

  .modal__select {
    @apply border-davy-gray bg-heavy-metal w-full cursor-pointer rounded-md border px-4 py-2 text-gray-300;
  }

  input:disabled,
  select:disabled {
    @apply cursor-not-allowed;
  }
}
@layer components {
  .modal__title {
    @apply text-2xl font-bold text-white;
  }

  .modal__icon {
    @apply h-12 w-12;
  }

  .modal__form {
    @apply flex flex-col gap-4;
  }

  .modal__group {
    @apply relative flex flex-col gap-1;
  }

  .modal__label {
    @apply text-aqua-haze font-medium;
  }

  .modal__btn {
    @apply border-davy-gray w-full rounded-md border px-4 py-2 font-medium text-white hover:bg-opacity-50;
  }

  .modal__btn--success {
    @apply bg-primary;
  }

  .modal__btn--cancel {
    @apply bg-red-400;
  }

  .modal__input {
    @apply border-davy-gray bg-heavy-metal focus:bg-heavy-metal w-full rounded-md border px-4 py-2 text-gray-300;
  }

  .modal__toggle {
    @apply mr-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary checked:focus:bg-primary checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] dark:bg-neutral-600 dark:after:bg-neutral-400 dark:checked:bg-primary dark:checked:after:bg-primary dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca];
  }

  .modal__select {
    @apply border-davy-gray bg-heavy-metal w-full cursor-pointer rounded-md border px-4 py-2 text-gray-300;
  }

  input:disabled,
  select:disabled {
    @apply cursor-not-allowed;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fc-event-time {
  display: none !important;
}
.fc-day-today .fc-daygrid-day-frame {
  background-color: rgb(128, 108, 140);
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #f75694; /* Cor de brilho desejada (branco, neste caso) */
  }
  100% {
    border-color: transparent;
  }
}

.border-glow {
  border: 2px solid transparent; /* Defina a largura e o estilo da borda */
  animation: blink 1s infinite; /* Ajuste a duração e a iteração da animação conforme necessário */
}

.fc .fc-daygrid-body,
.fc .fc-scrollgrid-section-body table,
.fc .fc-scrollgrid-section table {
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #7b68ee; /* Cor do polegar da barra de rolagem */
  border-radius: 2px; /* Borda arredondada do polegar */
}

::-webkit-scrollbar-track {
  background-color: #323637; /* Cor do track (fundo) da barra de rolagem */
}

/* Outros estilos opcionais */
::-webkit-scrollbar-button {
  display: none; /* Esconde os botões de seta (início/fim) */
}

.apexcharts-legend.apx-legend-position-right {
  justify-content: center !important;
  top: auto !important;
  height: 100% !important;
  align-items: center !important;
}

.loading-bar {
  animation: loading-bar 3s linear infinite; /* Define a animação */
}

@keyframes loading-bar {
  0% {
    width: 0px; /* Largura inicial */
  }
  100% {
    width: 100vw; /* Largura final (100% da largura da janela) */
  }
}
